html
  head
  link(href="xkkk.css")
  style
  script(src="jquery.min.js")
  body
    div
      ul.list(style={height:'100px',width:'200px'})
        li(class=['box','box2','active'])
      ul
        li
