<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>招商服务中心-震坤行工业超市</title>
	<link rel="stylesheet" type="text/css" href="/css/initial.css">
	<link rel="stylesheet" type="text/css" href="/css/register.css">
	<script type="text/javascript" src="/font/iconfont.js"></script>
	<style type="text/css">
		.icon {
		   width: 2em; height: 2em;
		   vertical-align: -0.15em;
		   fill: currentColor;
		   overflow: hidden;
		}
	</style>
</head>
<body>
	<div class="top">
		<img src="/images/logo_03.png">
		<div class="right">
			<p class="tel">400-680-9696</p>
			<p class="time">工作时间：8:30-17:30</p>
		</div>
	</div>
	<div class="middle">
		<div class="inner">
			<div class="box">
				<form action="/login" method="post" id="login">
					<div class="title">
						欢迎登录
					</div>
					<div class="user_warp">
						<b>
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-youxiang"></use>
							</svg>
						</b>
						<input type="text" name="username" id="username" placeholder="请输入邮箱地址"/>
					</div>
					<div class="password_warp">
						<b>
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-mima"></use>
							</svg>
						</b>
						<input type="password" name="password" id="password" placeholder="密码"/>
					</div>
					<div class="self">
						<input type="checkbox" name="" id="self_btn">
						<label for="self_btn">下次自动登录</label>
					</div>
					<div class="submit">
						<input type="submit" class="submit_btn" value="登     录" />
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="bottom">
		<span>
			Copyright © zkh360.com 1998 - 2017 Corporation All Rights Reserved 沪ICP备10006078号-5
		</span>
	</div>
</body>
</html>

