div.top
	height:122px
	width:1152px
	margin:0 auto
	img
		float:left
		margin-top:28px
	.right
		float:right
		.tel
			font-size:16px
			font-weight:bold
			color:#e50012
			padding-left:24px
			background:url(/images/tel.png) no-repeat left center
			margin-top:38px
		.time
			font-size:12px 
			color:#666
			margin-top:18px 
			padding-left:16px
div.middle
	height:704px
	width:1920px
	background:url(/images/beijing_02.png) no-repeat center
	.inner
		width:1152px
		height:100%
		margin:0 auto
		position:relative
		.box
			height:400px
			width:380px
			background-color:#fff
			position:absolute
			right:82px
			top:140px
			#login
				height:100%
				width:100%
				b
					height:38px
					width:40px
					border:1px solid #e2e2e2
					float:left
					background-color: #f1f1f1
					text-align:center
					line-height:48px
				.title
					height:44px
					border-bottom:1px solid #f4f4f4
					line-height:44px
					font-size:20px
					color:#e50012
					text-align:center
				.user_warp
					width:316px
					margin:34px auto 30px
					position:relative					
					#username
						border:none
						height:38px
						width:261px
						padding-left:12px
						border:1px solid #e2e2e2
						border-left:none
				.password_warp
					width:316px
					margin:0 auto 15px
					#password
						border:none
						height:38px
						width:261px
						padding-left:12px
						border:1px solid #e2e2e2
						border-left:none
				.self
					width:316px
					margin:0 auto
					position:relative
					label
						position:relative
						top:-2px
						color:#666
				.submit
					width:316px
					margin:36px auto 0px			
					.submit_btn
						width:100%
						height:36px
						background-color:#e50012
						color:#fffefe
						font-size:20px
						border:none
						line-height:36px
						text-align:center
						cursor:pointer
.bottom
	width:1152px
	height:136px
	line-height:136px
	text-align:center
	font-size:14px
	color:#666		
	margin:0 auto				
						
