<div class="title">
		<ul>
			<li>boss,下午好！</li>
			<li>企业概括<span class="glyphicon glyphicon-menu-up"></span></li>
			<li>在线咨询<span class="glyphicon glyphicon-menu-up"></span></li>
			<li><a href="/exit">退出</a></li>
		</ul>
		<div class="qygk">
			<p>企业名称：3M（中国）上海有限公司</p>
		</div>
		<div class="zxzx">
			400-680-9696
		</div>
	</div>